<h1>Hello</h1>
<p> C'est notre premiere page ruby !</p>

<ul>
	<li>addition : <%= 1 + 2 %></li>
	<li>concatenation : <%= "cow" + "boy" %></li>
	<li>temps dans une heure : <%= @time %></li>
</ul>

<% 3.times do %>
ho!<br/>
<% end %>
Merry Christmas!<br/><br/>

<%= link_to "page goodbye", '/say/goodbye', :class=>"nav_link" %>